<div id="modal">
    <div class="center-con">
        <div class="des">
            <div class="prin_content">
                <p class="title_modal">Agregar un nuevo usuario</p>
                <p class="foto_head">Foto de perfil</p>
                <form action="javascript:;">
                    <div class="content_user_regi">
                        <div class="foto_perfil">
                            <div class="img">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                                    <path d="M0 0h24v24H0z" fill="none"/>
                                </svg>
                            </div>
                        </div>
                        <div class="des_picture">
                            <p class="foto_head_des">JPG, PNG | Tamaño minimo 300px X 300px</p>
                            <div class="custom-input-file">
                                <input type="file" id="fichero-tarifas" class="input-file" value=""> Subir foto
                            </div>
                        </div>
                        <p class="foto_head">Informacion basica</p>
                        <div class="col_form">
                            <input type="text" placeholder="Nombre" required>
                        </div>
                        <div class="col_form" style="text-align:right;">
                            <input type="text" placeholder="Apellido Paterno" required>
                        </div>
                        <div class="col_form">
                            <input type="text" placeholder="Apellido Materno" required>
                        </div>
                        <div class="col_form" style="text-align:right;">
                            <input type="text" placeholder="Correo electrico" required>
                        </div>
                        <div class="col_form">
                            <select name="" id="" required>
                                <option value="0" selected> Rol </option>
                                <option value="1" > Dueño </option>
                                <option value="2" > Administrador </option>
                                <option value="3" > Staff </option>
                            </select>
                        </div>
                        <div class="col_form_status" style="float: right;">
                            <span class="status">Inactivo</span>
                            <label class="switch">
                                 <input type="checkbox">
                                 <span class="slider round"></span>
                                </label>
                            <span class="status">Activo</span>
                        </div>
                        <div class="envio_date">
                            <div>
                                <button>Cancelar</button>
                                <input type="submit" value="Guardar usario">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>